<a href="https://colab.research.google.com/github/MehtabSandhu11/AIML25/blob/main/Python_Built_in_Functions_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **This is my first project showcasing most commonly used Built-In Functions in Python**

Input/Output Functions

In [12]:
# print() : print the output to the console
print('Mehtab Sandhu')
x = [20,40,60]
print(x)

Mehtab Sandhu
[20, 40, 60]

In [13]:
# input() : Take input from the user as a string
x = input()
print('My name is',x)

1203
My name is 1203

In [14]:
# open() : Open a file and return its object
f = open("/content/demo file.txt", "r")
print(f.read())

This is the content of the file that's been opened through this code

Type Converion & Casting Functions

In [15]:
# int() , float() , str() , bool() , complex() , list() , tuple() , set() , dict() , frozenset() , bytes() , bytearray() , memoryview()

# int() : Returns an integer value

# int() on Integer
print('int() fn. on integer value:',int(20))
# int() on Float Value
print('int() fn. on Float Value:',int(19.1))
# int() fn. on string representation of numbers
print('int() fn. on string representation of number:',int('22'))

int() fn. on integer value: 20
int() fn. on Float Value: 19
int() fn. on string representation of number: 22

In [16]:
# float() - Returns a floating point number

# float() on Integer
print('float() on Integer:',float(30))
# float() on float value
print('float() fn. on float value:',float(20.5))
# float() on string representation of numbers
print('float() fn. on string representation of numbers:',float('-18.4'))

float() on Integer: 30.0
float() fn. on float value: 20.5
float() fn. on string representation of numbers: -18.4

In [17]:
# str() - Returns a string object

# coverting integer to string
a = 10
print('dtype before conversion:',type(a))
b = str(a)
print('dtype after conversion:',type(b))

# converting float to string
c = 12.3
print('dtype before conversion:',type(c))
d = str(c)
print('dtype after conversion:',type(d))

dtype before conversion: <class 'int'>
dtype after conversion: <class 'str'>
dtype before conversion: <class 'float'>
dtype after conversion: <class 'str'>

In [18]:
# bool() - Returns the boolean value of the specified object

print(bool(True))
print(bool(False))
print(bool(0))
print(bool(1))
print(bool(-1))
print(bool(0.0))
print(bool(3.14))
print(bool(2<4))
print(bool(2>4))
print(bool(""))
print(bool("Hello"))
print(bool([]))
print(bool([3,5,7]))
print(bool({}))
print(bool({'a': 10,'b':30}))
print(bool(None))

True
False
False
True
True
False
True
True
False
False
True
False
True
False
True
False

In [19]:
# complex - Returns a complex value
# Creating complex numbers
c1 = complex(2, 5)
c2 = complex(20)
c3 = complex()

print(c1)
print(c2)
print(c3)
# Printing the Real and Imaginary part of the Complex Number
print(c1.real)
print(c1.imag)

(2+5j)
(20+0j)
0j
2.0
5.0

In [20]:
# list() : Creates a list object

# Using list()
res = list((5,4,6,7))
print(res)

# converting tuple to list
tup = (10,20,30,40,50)
res = list(tup)
print(res)

my_set = {1, 2, 3, 4, 5}

# converting set to list
res = list(my_set)
print(res)

d = {'A': 10, 'B': 20, 'C': 30}

# Converting dictionary to list
res = list(d)
print(res)

# taking user input (for eg: 34325)
user_input_list = list(input("Enter list elements: "))

print(user_input_list)

[5, 4, 6, 7]
[10, 20, 30, 40, 50]
[1, 2, 3, 4, 5]
['A', 'B', 'C']
Enter list elements: 232435
['2', '3', '2', '4', '3', '5']

In [21]:
# tuple - Returns a tuple
l = [1,2,3]
print(tuple(l))

# when parameter is not passed
tuple1 = tuple()
print("empty tuple:", tuple1)

# when an iterable(e.g., list) is passed
list1= [ 1, 2, 3, 4 ]
tuple2 = tuple(list1)
print("list to tuple:", tuple2)

# when an iterable(e.g., string) is passed
string = "Mehtab Sandhu";
tuple4 = tuple(string)
print("str to tuple:", tuple4)

my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}
my_tuple = tuple(my_dict.items())
print(my_tuple)

(1, 2, 3)
empty tuple: ()
list to tuple: (1, 2, 3, 4)
str to tuple: ('M', 'e', 'h', 't', 'a', 'b', ' ', 'S', 'a', 'n', 'd', 'h', 'u')
(('apple', 1), ('banana', 2), ('cherry', 3))

In [22]:
# set() : Returns a new set object

# Creating an empty set
a = set()
print(a)
print(type(a))

# Converting a list into set
b = [1, 2, 3, 4, 2, 3, 5]
c = set(b)
print('original list:',b)
print('new set:',c)

# Converting a tuple into set
d = (1, 2, 3, 4, 2, 3, 5)
e = set(d)
print('original tuple:',d)
print('new set:',e)

# Coverting a Dictionary into set
f = {'a': 1, 'b': 2, 'c': 3}
g = set(f)
print('original dictionary:',f)
print('new set:',g)
# Converting a string into set
h = "Mehtab Sandhu"
i = set(h)
print('original string:',h)
print('new set:',i)

set()
<class 'set'>
original list: [1, 2, 3, 4, 2, 3, 5]
new set: {1, 2, 3, 4, 5}
original tuple: (1, 2, 3, 4, 2, 3, 5)
new set: {1, 2, 3, 4, 5}
original dictionary: {'a': 1, 'b': 2, 'c': 3}
new set: {'b', 'c', 'a'}
original string: Mehtab Sandhu
new set: {'b', 't', 'h', 'a', ' ', 'e', 'S', 'n', 'd', 'M', 'u'}

In [26]:
# dict() : Returns a Python Dictionary

# Creating dictionary using keyword arguments
Dict1 = dict(a=1, b=2, c=3, d=4)
print(Dict1)

# creating a dictionary from a list of tuples
Dict2 = dict([('a', 10), ('b', 20), ('c', 30), ('d',40)])
print(Dict2)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [27]:
# bin() : Returns the binary version of a number
num1 = int(input("Enter a number: "))
print(bin(num1))

Enter a number: 683
0b1010101011

In [11]:
# Creates a bytes object of length 5, with all zero values
a = bytes(5)
print(a)

# Converting a list of integers into bytes
b = [10, 20, 30, 40, 50]
c = bytes(b)
print(c)

# Converting a string to bytes
Str1 = "Mehtab Sandhu"
d = bytes(Str1, 'utf-16')
e = bytes(Str1, 'ascii')
print(d)
print(e)

b'\x00\x00\x00\x00\x00'
b'\n\x14\x1e(2'
b'\xff\xfeM\x00e\x00h\x00t\x00a\x00b\x00 \x00S\x00a\x00n\x00d\x00h\x00u\x00'
b'Mehtab Sandhu'

Mathematical Operations

In [30]:
# abs() : Returns the absolute value of a number
# An integer
Int = -94
print('Absolute value of integer is:', abs(Int))
# floating point number
Float = -54.26
print('Absolute value of float is:',abs(Float))
# A complex number
Complex = (3 - 4j)
print('Absolute value or Magnitude of complex is:', abs(Complex))

Absolute value of integer is: 94
Absolute value of float is: 54.26
Absolute value or Magnitude of complex is: 5.0

In [37]:
# round() : rounds up the number

# round to the nearest integer (no parameter present)
x = round(5.76543)
print(x)

# rounding if second parameter is present
# when the (ndigit+1)th digit is =5
print(round(2.655, 1))

# when the (ndigit+1)th digit is >=5
print(round(2.6636, 1))

# when the (ndigit+1)th digit is <5
print(round(2.623, 1))

6
2.7
2.7
2.6

In [42]:
# pow() : Returns the value of x to the power of y

# +x, +y
print(pow(3,4))

# -x, +y
print(pow(-3,4))

# +x, -y
print(pow(3,-4))

# -x, -y
print(pow(3,-4))

81
81
0.012345679012345678
0.012345679012345678

In [49]:
# divmod() : Returns the quotient and the remainder when argument1 is divided by argument2
print('The quotient and the remainder of this division is',divmod(133,32))
print('The quotient and the remainder of this division is',divmod(12,123))

The quotient and the remainder of this division is (4, 5)
The quotient and the remainder of this division is (0, 12)

In [55]:
# sum() : Returns the sum of all items in an iterable

# sum of all items in a list
a = [10,30,3,2,7,4]
print('sum of all items in given list:',sum(a))

# sum of all items in a tuple
b = (70,3,22,8,6)
print('sum of all items in given tuple:',sum(b))

# sum of all items in a dictionary
Dict = {'a': 10, 'b': 20, 'c': 30}
Sum1 = sum(Dict.values())
print('sum of all items in given dictionary:',Sum1)

Set = {1, 2, 3, 4, 5}
Sum2 = sum(Set)
print('sum of all items in given set:',Sum2)

sum of all items in given list: 56
sum of all items in given tuple: 109
sum of all items in given dictionary: 60
sum of all items in given set: 15

In [59]:
# min() : Returns the smallest number from an iterable
#max()  : Returns the largest number from an iterable

list1 = [2,4,64,4,12,42]
tup1 = (24,43,754,24,12)
set1 = {1,3,6,13,74,99,2,5}

print('minimum value in list:',min(list1))
print('maximum value in list:',max(list1))
print('minimum value in tuple:',min(tup1))
print('maximum value in tuple:',max(tup1))
print('minimum value in set:',min(set1))
print('maximum value in set:',max(set1))

minimum value in list: 2
maximum value in list: 64
minimum value in tuple: 12
maximum value in tuple: 754
minimum value in set: 1
maximum value in set: 99

In [60]:
# all() : Returns True if all items in an iterable object are true else it returns false

# All elements of list are true
L1 = [4, 5, 1]
print(all(L1))

# All elements of list are false
L2 = [0, 0, False]
print(all(L2))

# Some elements of list are true while others are false
L3 = [1, 0, 6, 7, False]
print(all(L3))

# Empty List
L4 = []
print(all(L4))

# To check if all elements are greater than 0
L5 = [1,-3,0,2,4]
print(all(ele > 0 for ele in L5))

True
False
False
True
False

In [62]:
# any() : Returns True if any item in an iterable object is true else it returns false

# All elements of list are true
L1 = [4, 5, 1]
print(any(L1))

# All elements of list are false
L2 = [0, 0, False]
print(any(L2))

# Some elements of list are true while others are false
L3 = [1, 0, 6, 7, False]
print(any(L3))

# Empty List
L4 = []
print(any(L4))

# To check if even a single element is greater than 0
L5 = [1,-3,0,2,4]
print(any(ele > 0 for ele in L5))

True
False
True
False
True

Sequence and Collection Functions

In [33]:
# len() : Returns the length of an object
string = "Mehtab Sandhu"
tup1 = (24,43,754,24,12)
dict1 = {'a': 10, 'b': 20, 'c': 30}
set1 = {1, 3, 6, 13, 74, 99, 2, 5}
list1 = ["apple", "banana", "guava","cherry"]
r = range(1, 5)

print('length of string:',len(string))
print('length of tuple:',len(tup1))
print('length of dictionary:',len(dict1))
print('length of set:',len(set1))
print('length of list:',len(list1))
print('length of range:',len(r))

length of string: 13
length of tuple: 5
length of dictionary: 3
length of set: 8
length of list: 4
length of range: 4

In [15]:
# sorted() : Returns a list with the elements in a sorted manner, without modifying the original iterable
list2 = [2,4,64,4,12,42]
dict2 = {'a': 42, 'b': 35, 'c': 23, 'd':12,'e':39}
tup2 = (10,20,30,45,22,4,5)
set2 = {1, 3, 6, 13, 74, 99, 2, 5}
print('Sorting in Ascending Order:')
print('sorted list:',sorted(list2))
print('sorted dictionary:',sorted(dict2))
print('sorted tuple:',sorted(tup2))
print('sorted set:',sorted(set2))
print('Sorting in Descending Order:')
print('sorted list:',sorted(list2,reverse=True))
print('sorted dictionary:',sorted(dict2,reverse=True))
print('sorted tuple:',sorted(tup2,reverse=True))
print('sorted set:',sorted(set2,reverse=True))

Sorting in Ascending Order:
sorted list: [2, 4, 4, 12, 42, 64]
sorted dictionary: ['a', 'b', 'c', 'd', 'e']
sorted tuple: [4, 5, 10, 20, 22, 30, 45]
sorted set: [1, 2, 3, 5, 6, 13, 74, 99]
Sorting in Descending Order:
sorted list: [64, 42, 12, 4, 4, 2]
sorted dictionary: ['e', 'd', 'c', 'b', 'a']
sorted tuple: [45, 30, 22, 20, 10, 5, 4]
sorted set: [99, 74, 13, 6, 5, 3, 2, 1]

In [26]:
# reversed() : Returns a reversed iterator

# For list
a = ["G63", "Hector", "Scorpio", "C Class"]
print('reversed list:',list(reversed(a)))

# For tuple
tup = ('u', 'h', 'd', 'i', 's')
print('reversed tuple:',list(reversed(tup)))

# For range
r = range(1, 5)
print('reversed range:',list(reversed(r)))

# For string
s = "Python"
print('reversed list of characters of given string:',list(reversed(s)))

reversed list: ['C Class', 'Scorpio', 'Hector', 'G63']
reversed tuple: ['s', 'i', 'd', 'h', 'u']
reversed range: [4, 3, 2, 1]
reversed list of characters of given string: ['n', 'o', 'h', 't', 'y', 'P']

In [56]:
# enumerate() : Takes a collection and returns it as an enumerate object.

list1 = ['Mehtab','Jasjit','Deep Yuvraj','Gurnoor']
print('For List:')
print(enumerate(list1))
print(list(enumerate(list1)))
print(list(enumerate(list1,start=1)))
print('')

print('For Tuple:')
tup1 = ('Gurman', 'Simar', 'Narendar', 'Modi', 'Kadam')
print(enumerate(tup1))
print(list(enumerate(tup1)))
print(list(enumerate(tup1,start=1)))
print('')

print('For Dictionary:')
dict1 = {'a': 10, 'b': 20, 'c': 30}
print(enumerate(dict1))
print(list(enumerate(dict1)))
print(list(enumerate(dict1,start=1)))
print('')

string = "Mehtab"
print('For String:')
print(enumerate(string))
print(list(enumerate(string)))
print(list(enumerate(string,start=1)))

For List:
<enumerate object at 0x789362e40680>
[(0, 'Mehtab'), (1, 'Jasjit'), (2, 'Deep Yuvraj'), (3, 'Gurnoor')]
[(1, 'Mehtab'), (2, 'Jasjit'), (3, 'Deep Yuvraj'), (4, 'Gurnoor')]

For Tuple:
<enumerate object at 0x789362e40450>
[(0, 'Gurman'), (1, 'Simar'), (2, 'Narendar'), (3, 'Modi'), (4, 'Kadam')]
[(1, 'Gurman'), (2, 'Simar'), (3, 'Narendar'), (4, 'Modi'), (5, 'Kadam')]

For Dictionary:
<enumerate object at 0x789362e40ef0>
[(0, 'a'), (1, 'b'), (2, 'c')]
[(1, 'a'), (2, 'b'), (3, 'c')]

For String:
<enumerate object at 0x789362e402c0>
[(0, 'M'), (1, 'e'), (2, 'h'), (3, 't'), (4, 'a'), (5, 'b')]
[(1, 'M'), (2, 'e'), (3, 'h'), (4, 't'), (5, 'a'), (6, 'b')]

In [64]:
# zip() : Combines multiple iterables into a single interable to tuples

Admn_No = [85, 90, 78, 92]
Students = ['Simar', 'Gurnoor', 'Noor', 'Mehtab']

# No iterables are passed
zip1 = zip()
print('When no iterable passed:',list(res))

# One iterable is passed
zip2 = zip(Admn_No)
print('When 1 iterable passed:',list(zip2))

# Two iterables are passed
zip3 = zip(Admn_No,Students)
print('When 2 iterables passed:',list(zip3))

# When lenghts of both iterables are different
a = [1, 2, 3, 4, 5,6,7,8,9,10,11,12]
b = ['a', 'b', 'c']
zip4 = zip(a,b)
print('When lengths of both iterables are different:',list(zip4))

When no iterable passed: []
When 1 iterable passed: [(85,), (90,), (78,), (92,)]
When 2 iterables passed: [(85, 'Simar'), (90, 'Gurnoor'), (78, 'Noor'), (92, 'Mehtab')]
When lengths of both iterables are different: [(1, 'a'), (2, 'b'), (3, 'c')]

In [71]:
# filter() : returns an iterator where the items are filtered through a function to test if the item is accepted or not.

# Using filter() with a Named Function
def odd(n):
    return n % 2 != 0
a = [1, 2, 3, 4, 5, 6]
b = filter(odd, a)
print(list(b))

# Using filter() with a Lambda Function
a = [1, 2, 3, 4, 5, 6]
b = filter(lambda x: x % 2 == 0, a)
print(list(b))

# Filtering Strings
a = ["apple", "banana", "cherry", "kiwi", "grape"]
b = filter(lambda w: len(w) > 5, a)
print(list(b))

# To remove all falsy values (like empty strings, None and 0) from a list.
L = ["apple", "", None, "banana", 0, "cherry"]
A = filter(None, L)
print(list(A))

[1, 3, 5]
[2, 4, 6]
['banana', 'cherry']
['apple', 'banana', 'cherry']

In [82]:
# Returns the specified iterator with the specified function applied to each item

# Converting list of strings to list of integers using map()
print('Basic Example:')
s = ['1', '2', '3', '4']
a = map(int, s)
print(list(a))

# map() with lambda
print('Using map() with lambda:')
b = [1, 2, 3, 4, 5]
c = list(map(lambda x: x ** 2, b))
print(c)

# map() with multiple iterables
print('Using map() with multiple iterables:')
d = [1, 2, 3, 4 ,5]
e = [4, 5, 6, 7, 8]
f = map(lambda x, y: x + y, d, e)
print(list(f))

Basic Example:
[1, 2, 3, 4]
Using map() with lambda:
[1, 4, 9, 16, 25]
Using map() with multiple iterables:
[5, 7, 9, 11, 13]

In [101]:
# range() : Returns a sequence of numbers

# 0 to stop
print('0 to (n-1) whole numbers:')
for i in range(6):
    print(i ,end=' ')
print()
print()

# start and stop
print('start and stop:')
for i in range(5, 20):
    print(i ,end=' ')
print()
print()

# start , stop and step
print('start , stop and step:')
for i in range(0, 10, 2):
    print(i ,end=' ')
print()
print()

# incrementing range using a +ve step
# incremented by 4
print('incrementing range:')
for i in range(0, 30, 4):
    print(i, end=" ")
print()
print()

 #decrementing range using a -ve step
 # incremented by -2
print('decrementing range:')
for i in range(25, 2, -2):
    print(i, end=" ")
print()

0 to (n-1) whole numbers:
0 1 2 3 4 5

start and stop:
5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

start , stop and step:
0 2 4 6 8

incrementing range:
0 4 8 12 16 20 24 28

decrementing range:
25 23 21 19 17 15 13 11 9 7 5 3

In [106]:
# slice() : Returns a slice object
# String slicing
String = 'HeliosProtocol'
s1 = slice(3)
s2 = slice(1, 5, 2)

print("String slicing")
print(String[s1])
print(String[s2])
print()

# List Slicing
L = [1, 2, 3, 4, 5]
s3 = slice(3)
s4 = slice(1, 5, 2)

print("List slicing")
print(L[s3])
print(L[s4])
print()
# Tuple slicing
T = (1, 2, 3, 4, 5)
s5 = slice(3)
s6 = slice(1, 5, 2)

print("Tuple slicing")
print(T[s5])
print(T[s6])
print()
# Negative Slicing
l = ['a', 'b', 'c', 'd', 'e', 'f']
s7 = slice(-2, -6, -1)
print("Negative slicing")
print(l[s7])

String slicing
Hel
ei

List slicing
[1, 2, 3]
[2, 4]

Tuple slicing
(1, 2, 3)
(2, 4)

Negative slicing
['e', 'd', 'c', 'b']

Object & Attribute

In [108]:
# type() : Returns the type of an object

a = ('Deep', 'Jass', 'Mehtab')
b = ['Deep', 'Jass', 'Mehtab']
c = {'Deep': 1, 'Jass':2, 'Mehtab':3}
d = "Hello World"
e = 10.23
f = 11 + 2j

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'tuple'>
<class 'list'>
<class 'dict'>
<class 'str'>
<class 'float'>
<class 'complex'>

In [110]:
# id() : Returns the id of an object
x = 42
y = x
z = 42

print(id(x))
print(id(y))  # (same as x)
print(id(z))  # (same as x and y)


# This program shows various identities
str1 = "geek"
print(id(str1))

str2 = "geek"
print(id(str2))

# This will return True
print(id(str1) == id(str2))

# Use in Lists
list1 = ["aakash", "priya", "abdul"]
print(id(list1[0]))
print(id(list1[2]))

# This returns false
print(id(list1[0])==id(list1[2]))

set1 = {1, 2, 3}
set2 = {3, 2, 1}
set3 = {1, 2, 3}

print(id(set1))  # Output: <id1>
print(id(set2))  # Output: <id2>
print(id(set3))  # Output: <id3>

tuple1 = (1, 2, 3)
tuple2 = (3, 2, 1)
tuple3 = (1, 2, 3)

print(id(tuple1))  # Output: <id1>
print(id(tuple2))  # Output: <id2>
print(id(tuple3))  # Output: <id3>

11655688
11655688
11655688
132574422901520
132574422901520
True
132574422892832
132574422902048
False
132574417186016
132574417180864
132574417190496
132574417149312
132574415696384
132574417859776

In [ ]:
# isinstance() : Returns True if a specified object is an instance of a specified object
x = 10
print(isinstance(x, int))  # x is int

class Animal: pass
dog = Animal()
print(isinstance(dog, Animal))  # dog is Animal
a = 5
b = [10,20,37]

print(isinstance(a, int))
print(isinstance(b, list))
print(isinstance(b, (int, list,str)))

a = "Hello"
print(isinstance(a, str))

b = {"apple": 1}
print(isinstance(b, dict))

In [ ]:
# issubclass() :